@charset "ISO-8859-1";

img.articolo {
	height: 500px;
	width: 500px;
	float:left;
	margin-right: 15px;
	box-shadow: grey  10px 10px 10px;
}

h2 {
	text-transform: capitalize;
}

div.checkout {
	padding-left: 3px;
	margin-top: 40px;
	margin-bottom: 20px;
	width: 150px;
	height: 500px;
	background-color: #f2f2f2;
	float: right;
	position: sticky;
	top: 120px;
}

div.checkout input.quantità {
	width: 30px;
}

div.checkout input.aggiungi {
	margin-top: 5px;
}