@charset "ISO-8859-1";

img.articolo {
	height: 500px;
	width: 500px;
	float:left;
	margin-right: 15px;
	box-shadow: grey  10px 10px 10px;
}

h2 {
	text-transform: capitalize;
}

div.checkout {
	padding-left: 3px;
	margin-top: 40px;
	margin-bottom: 20px;
	width: 150px;
	height: 500px;
	background-color: #f2f2f2;
	float: right;
	position: sticky;
	top: 120px;
}

div.checkout input.quantità {
	width: 30px;
}

div.checkout input.aggiungi {
	margin-top: 5px;
}

div.recensioni {
	clear: both;
}

#scriviRecensione .fa-star {
	cursor: pointer;
}

.recensioni .fa-star {
	color: grey;
	font-size: 18px;
}

.recensioni .checked {
	color: orange;
}

#scriviRecensione {
	width: fit-content;
}

#x {
	float: right;
	background-color: red;
	border-radius: 9999px;
    color: white;
	border-style: none;
}

.recensione {
	margin-bottom: 20px;
	background: #f2f2f2;
	width: 377px;
	overflow: auto;
}

.data {
	color: gray;
}