@charset "ISO-8859-1";

body {
	background-color: #acd0fa;
	margin: 0;
}

.error{
	border-color: red !important;
}
html,body{
    height: 100%
}

#holder{
    min-height: 100%;
    position:relative;
}

#body{
    padding-bottom: 400px;
    margin: 8px;
}