@charset "ISO-8859-1";
footer{ 
  width:100%;
  position: absolute;
  left: 0;
  bottom: 0; 
  background-color: #272F38;
  color: white;
  text-align: center;
  clear: both;
}
.generic{
	padding-left: 5px;
	display: inline-block;
	width: 30%;
    text-align: left;
    float: left;
}

.generic h4{
	margin: 0;
    margin-bottom: 5px;
}
.generic ul {
  	list-style: none;
  	padding: 0;
  	margin: 0;
}
.generic li {
  	padding-left: 1.3em;
}
.generic li:before{
	 content: "\f007";
	 font-family: FontAwesome;
	 margin-left: -1.3em;
     width: 1.3em;
     padding: 5px;
}

.contatti{
	display: inline-block;
	text-align: left;
	
}

.icon{
	float: right;
    text-align: left;
    padding-left: 120px;
    width: calc(30% - 120px);
}

 h3{
	text-align: left;
}
.icon i{
	width: 30px;
	height: 30px;
}

.infoL{
	text-align: center;
	font-size: 10px;
    padding-top: 30px;
}
.generic a{
	 color: white;
	 text-decoration: none;
}