@charset "ISO-8859-1";

header {
	/*border-style: solid;
	border-width: 2px;*/
	height: 80px;
	text-align: center;
	background-color: #272F38;
}

header > * {
	display: inline-block;
	/*border-style: solid;
	border-width: 2px;*/
}

#left {
	float: left;
}

#left img {
	padding-left: 5px;
	padding-top: 10px;
	height: 57px;
	width: auto;
}

#centro {
	padding-top: 20px;
	width: 500px;
}

#centro > img {
	float: left;
	 transform: scaleX(-1);
}

#search {
	width: calc(100% - 30px);
	height: 30px;
	padding: 0 10px;
	background: white;
	border: 0;
	box-sizing: border-box;
}

#rigth  {
	margin: 0;
	padding-top: 20px;
	padding-right: 10px;
	float:right;
}
#rigth ul {
	margin: 0;
	list-style-type: none;
	padding: 0px;
}

#rigth ul li{
	padding-left: 8px;
	display:inline;
}

li a img {
	height: 30px;
	width: auto;
}

header a {
	color: #acd0fa;
}

.bottom {
	background-color: grey;
	width:100%;
	margin: 0;
	margin-top: 8px;
	list-style-type: none;
	padding: 0px;
} 

.bottom li {
	padding-right: 10px;
	display:inline;
}

.bottom li a{
	color: #272F38;
}