@charset "ISO-8859-1";




img#mainLogo {
	align-content: center;
	margin: 0px auto;
	height: 200px;
	width: auto;
	display: block;
}

.rigth{
	position:absolute;
	top:10px;
	right: 20px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display:inline-block;
}

#search::placeholder{
	color: black;
}

.center input{
	display:inline-block;
}

div.center {
	position: absolute;
	left: calc(50% - 150px);
	margin-top:70px;
	text-align:center;
	margin-top:70px;
	padding: 0;
	border: 1px solid #888;
	width: 300px;
}


#search {
	width: 70%;
	height: 28px;
	padding: 0 10px;
	background: white;
	border: 0;
	float: left;
	box-sizing: border-box;
}

