@charset "ISO-8859-1";

body{ text-align: center;}

table { margin: 0 auto;
		text-align: left;
	  }
	  
img#mainLogo {
	align-content: left;
	margin: right;
	height: 200px;
	width: auto;
	display: block;
}

.contenitore{
	position: absolute ;
}

