@charset "ISO-8859-1";

body { 
	text-align: left;
}

.body {
	display: block;
	text-align: center;	
}

table {
	margin: 0 auto;
	text-align: left;
}
	  
img#mainLogo {
	padding: 40px;
	align-content: left;
	margin: right;
	height: 200px;
	width: auto;
}

.input fieldset {
	margin: auto;
	width: 0px;
}