@charset "ISO-8859-1";

body{ text-align: left;}

table { margin: 0 auto;
		text-align: left;
	  }
	  
img#mainLogo {
	align-content: left;
	margin: right;
	height: 200px;
	width: auto;

}

.contenitore1{
	
	
}
.contenitore2{
	position: absolute ;
	display:inline;
	
}

