@charset "ISO-8859-1";

h3 {
	text-align: center;
}

table{
	margin-top:20px;
}

/*tr {
	border-color:  #272F38;
	border-bottom: 10px;
	border-bottom-style: solid;
}*/
.result{
	border: 2px solid;
	margin-left:250px;
	margin-right: 250px;
}

.result img{
	width: 100px;
	height: 100px;
}