@charset "ISO-8859-1";

h3 {
	text-align: center;
}

table{
	margin-top:20px;
}

tr {
	display:none;
}

tr.pagina1{
	display: table-row;
}

#result{
	border: 2px solid;
	margin-left:250px;
	margin-right: 250px;
}

#result img{
	width: 100px;
	height: 100px;
}

h4 {
	text-transform: capitalize;
}

#scelte {
	float: left;
	width: 150px;
	padding: 5px;
	margin-left: 5px;
	margin-top: 20px;
	background-color: #f2f2f2;
}

div.paginazione {
	text-align: center;
}

div.paginazione a{
	background-color: white;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
}

.paginazione a.active {
	background-color: dodgerblue;
	color: white;
}

.paginazione a:hover:not(.active) {
	background-color: #ddd;
}
